NEXT_PUBLIC_SITE_URL=https://dev.giftoryth.com
PRIMARY_DOMAIN=dev.giftoryth.com
NODE_ENV=production
PORT=8080

ADMIN_PASSWORD=change-this-dev-admin-password

POSTGRES_DB=giftoryth_dev
POSTGRES_USER=giftoryth_dev
POSTGRES_PASSWORD=change-this-dev-postgres-password

S3_ENDPOINT=http://minio-dev:9000
S3_BUCKET=giftoryth-dev-public
S3_ACCESS_KEY_ID=giftoryth_dev
S3_SECRET_ACCESS_KEY=change-this-dev-minio-secret
S3_PUBLIC_BASE_URL=https://images-dev.giftoryth.com/giftoryth-dev-public
